<p>
  tattoo works!
</p>


<form [formGroup]="tatuatoreForm" novalidate (ngSubmit)="onSubmit(tatuatoreForm)">
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name" placeholder="Nome Tatuatore">
    </label>
    <label>
      <span>Cognome: </span>
      <input class="form-control"
        type="surname"
        placeholder="Cognome Tatuatore"
        formControlName="surname">
    </label>
    <label class="center-block">Nome D'Arte:
      <input class="form-control" formControlName="uniquename" placeholder="Nome D'Arte Tatuatore">
    </label>
    <label class="center-block">Link Sito :
      <input class="form-control" formControlName="siteurl" placeholder="Link Sito">
    </label>

    <pre> {{ tatuatoreForm.valid }} </pre>
   <label class="center-block">Studio:
     <!--<select class="form-control" [formControl]="myControl">
      <option *ngFor="let studio of FilteredStudios  | async " [value]="studio">{{studio}}</option>
    </select>-->
   </label>
  </div>

<md-input-container >
  <input type="text" mdInput formControlName="nomestudio" [mdAutocomplete]="auto">
</md-input-container>


<md-autocomplete #auto="mdAutocomplete"  >
  <md-option *ngFor="let studio of FilteredStudios | async" [value]="studio">
    {{ studio }}
  </md-option>
</md-autocomplete>


  <button type="submit" >INVIA</button>


</form>
