<p>
  tattomap work!
  {{array}}
</p>
<table>
  <thead>
  <th>Name</th>
  <th>Index</th>
  </thead>
  <tbody>
  <tr *ngFor="let studio of array; let i = index">
    <td>{{studio.nome}}</td>
    <td>{{i}}</td>
  </tr>
  </tbody>
</table>

<li *ngFor="let studio of array; let i = index">
  <h2>{{studio.nome}}</h2>


</li>

<st-mappa  > </st-mappa>

<button (click)="addStudio()">Aggiungi Studio</button>
{{buttonMsg}}