
<div class="hero">
  <h1> Hero </h1>
</div>

<section class="intro">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, alias debitis architecto optio tenetur unde excepturi quia.
    Repellat eum a maiores tempore hic, numquam vel, obcaecati expedita, cupiditate soluta ipsam!
  </p>

  <div class="cards">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="assets/img/examples/shiba2.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

</section>

<section class="benefits">
  <ul>
    <li> Lots of Benefits </li>
    <li> Much Art </li>
    <li> No swag </li>
    <li> YOLO </li>
  </ul>
</section>

