<header>
  <nav>
    <ul>
      <li><a routerLink="/mappa" routerLinkActive="active">M A P P A</a></li>
      <li><a routerLink="/"><img  alt="">H O M E</a></li>
      <li><a routerLink="/tat">T A T T O O</a></li>
    </ul>
  </nav>
</header>
<main>
<router-outlet></router-outlet>
</main>
